<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 ">
				<div class="navbar-header">
					    <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target="#myNavbar">
					        <span class="glyphicon glyphicon-align-justify"></span>
					    </button>
      					<a class="navbar-brand logo" href="#">{{ site_name }}</a>
    			</div>
			</div>
			{% if page.primary_menu %}
				<div class="col-md-8">
					{{ page.primary_menu }}
				</div>
			{% endif %}
		</div>
	</div>
</header>
{% if is_front %}
<div class="container-fluid main" id="page-top">
	<div class="row">
		<div class="col-md-12 backg" style="background-image:url({{ base_path ~ directory }}{{ baner_image_first }}">
			<div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
				<div class="text-box">
                	<p class="intro">{{ baner_top_title_text }}</p>
                    <h3>{{ baner_middle_title_text }} </h3>
                    <h4>{{ banner_bottom_paragraph_text }}</h4>
                   
                    <p><a href="{{ banner_tell_me_more_link_url }}" class="link-button">Tell Me Something</a></p>
				</div>
  			</div>
		</div>
		<div class="col-md-12 some-notes">
			<div class="title">
                <h2>{{ featured_content_header }}</h2>
            </div>
            <div class="desc">
                <p>{{ featured_content_text }}</p>
            </div>
		</div>
	</div>
</div>
{% endif %}
<section>
	<div class="container-fluid features" id="section2">
	{% if page.topwidget_first or page.topwidget_second or page.topwidget_third %}
		<div class="container">
		<div class="row">
			{% if page.topwidget_first %}
					<div class="{{ topwidget_class }}">
						{{ page.topwidget_first }}
					</div>
				{% endif %}
			{% if page.topwidget_second %}
				<div class="{{ topwidget_class }}">
					{{ page.topwidget_second }}
				</div>
			{% endif %}
			{% if page.topwidget_third %}
				<div class="{{ topwidget_class }}">
					{{ page.topwidget_third }}
				</div>
			{% endif %}
			</div>
		</div>
	{% endif %}
	</div>
</section>
<section>
	<div class="container-fluid work">
		<div class="container">
			 {% if page.content %}
			 {{ page.content }}
			 {% endif %}
		</div>
	</div>
</scetion>
<secton>
{% if page.bottom_widget_first or page.bottom_widget_second or page.bottom_widget_third or page.bottom_widget_fourth %}
	<div class="container-fluid countspace">
		<div class="container">
			<div class="row">
			<div class="col-md-12 countbg">
			{% if page.bottom_widget_first %}
				<div class="{{ bottom_widget_class }}">
					{{ page.bottom_widget_first }}
				</div>  
			{% endif %}
			{% if page.bottom_widget_second %}
				<div class="{{ bottom_widget_class }}">
					{{ page.bottom_widget_second }}
				</div>  
			{% endif %}
			{% if page.bottom_widget_third %}
				<div class="{{ bottom_widget_class }}">
					{{ page.bottom_widget_third }}
				</div> 
			{% endif %}				
			{% if page.bottom_widget_fourth %}
				<div class="{{ bottom_widget_class }}">
					{{ page.bottom_widget_fourth }}
				</div>  
			{% endif %}
			</div>
			</div>
		</div>
	</div>
	{% endif %}
</section>
<section>
	<div class="container-fluid contact" id="section4">
		<div class="container">
			<div class="row">
			{% if page.footer_first_widget %}
				<div class="{{ footer_widget_class }}">
					{{ page.footer_first_widget }}
				</div>
			{% endif %}
			{% if page.footer_second_widget %}
				<div class="{{ footer_widget_class }}">
				{{ page.footer_second_widget }}
				</div>
			{% endif %}
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid footer">
		<div class="row">
			<div class="col-md-12">
				<p>Copyright &copy;  2015</a></p>
			</div>
		</div>
	</div>
</section>
